::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: rgb(212, 241, 232);
 }
::-webkit-scrollbar-thumb {
    background: rgb(166, 216, 199);
 }

 @font-face {
  font-family: "Or";
  src: url(http://static.tumblr.com/czno3wd/gEWn6fk7t/orgasmo.otf);
}

 @font-face {
  font-family: "Cav";
  src: url(http://static.tumblr.com/czno3wd/Yk5n6fkk5/caviardreams.ttf);
}

h1 {
    z-index: 2;
    width: 275px;
    height: 10px;
    margin-top: -15px;
    padding-left: 15px;
    font-family: Cav;
    font-size: 40px;
    color: #cef5ff;
    text-shadow: #16251E 5px 1px 1px;
    border-bottom: #16251E 20px solid;
  }

  h2 {
    z-index: 2;
    height: 10px;
    margin-top: -17px;
    margin-bottom: -20px;
    padding: 10px;
    font-family: Cav;
    font-size: 15px;
    color: #16251E;
    text-align: right;
  }

p {
    width: 265px;
    height: 160px;
    padding: 10px;
    font-family: "Cav";
    font-size: 13px;
    color: #000000;
    text-align: justify;
  }


body {
    width: 99.9%;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(107, 174, 190);
}

#vertcona {
    position: absolute;
    z-index: 0;
    width: 285px;
    height: 120%;
    overflow-y: hidden;
    margin-top: -10px;
    margin-left: 120px;
    background: rgb(176, 231, 214);
    border-left: rgb(212, 241, 232) 30px solid;
    border-right: rgb(212, 241, 232) 30px solid;

  }

#content {
    position: absolute;
    z-index: 0;
    width: 285px;
    height: 120%;
    overflow-x: hidden;
    margin-top: -10px;
    margin-left: 0px;
  }

#horicona {
    position: fixed;
    z-index: -1;
    background: rgb(176, 231, 214);
    width: 100%;
    height: 25%;
    margin-left: -7px;
    margin-top: 300px;

  }

#horiboxes {
    position: absolute;
    z-index: 0;
    height: 120%;
    overflow-x: hidden;
    margin-top: -10px;
    margin-left: 0px;
  }

.box {
    position: relative;
    top: 10px;
    background-color: rgb(212, 241, 232);
    margin: 6px 8px 8px 6px;
    padding: 10px;
    width: 95px;
    height: 20px;
    font-size: 17px;
    font-family: "Or";
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
